//
footer{
    text-align: center;
    color: rgb(255, 255, 255);
    background-color: #DF3F3F;
    padding: 20px;
    font-family: 'Poppins', sans-serif;
}
hr{
    border-radius: 20px;
    margin-bottom: 10px;
}
.icon-container{
    margin-bottom: 20px;

    .logo-footer{
        margin-bottom: 10px;
    }
    a{
        text-decoration: none;
    }
}
@media(max-width:578px){
    footer{
        margin-top: 0;
    
    }
    .icon-container{
        img{
            width: 50px;
        }
    }
}

